<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Novo Usuário</h4>
        </div>
        <div class=" card-body">

          <form [formGroup]="formUsuario" novalidate>

            <div class="row">
              <div class="col-md-2">
                <div class=" form-group">
                  <label> Nome do Usuário </label>
                  <input class=" form-control" formControlName="nome" placeholder="nome do usuário" type="text" />
                </div>
              </div>
              
              <div class="col-md-2">
                <div class=" form-group">
                  <label> SobreNome do Usuário </label>
                  <input class=" form-control" formControlName="sobreNome" placeholder="SobreNome do usuário"
                    type="text" />
                </div>
              </div>
            
              <div class="col-md-3">
                <div class=" form-group">
                  <label> E-mail </label>
                  <input class=" form-control" formControlName="email" type="text" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class=" form-group">
                  <label> Data de Nasscimento </label>
                  <input class=" form-control" formControlName="dtNascimento" type="date" />
                </div>
              </div>
           
              <div class="col-md-2">
                <div class=" form-group">
                  <label> Escolaridade </label>
                  <select class="form-control" formControlName="codEscolaridade">
                    <option *ngFor="let escolaridade of escolaridadeData" value="{{escolaridade.codEscolaridade}}">{{ escolaridade.nivel }}</option>
                  </select>
                </div>
              </div>
            </div>

            <hr>
            <div class="divider"></div>

            <div class="row">
              <div class="col-1 text-left">
                <button type="button" class="btn btn-primary" [routerLink]="['/usuario']">Voltar</button>
              </div>
              <div class="col-2 offset-9 text-right">
                <button (click)="onSubmit();" class="btn btn-success">Salvar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>